* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    position: relative;

}

.col-3 {
    padding-top: 3%;
    margin: auto;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));

    border-width: 50%;
}


.card {
    padding: 20px;
    border-radius: 15px; 
    
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5)); 
    
}


.profile-img-card {
    
    margin: auto;
    margin-top: 60px;
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    object-fit: cover;
    margin-bottom: 60px; 
}
.custom-buttons {
    text-align: center;
    width:100%;
    background-color: #EFE9E1;
    color: white;
    padding: 1px 1px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.custom-buttons:hover {
    background-color: #D1C7BD;
    color:white;  
}

/* //btn-primary */